<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package partyId="Acr.Support" version="2.1.0" targetFramework="monoandropartyId60" />
  <package partyId="Acr.UserDialogs" version="6.3.2" targetFramework="monoandropartyId70" />
  <package partyId="AndHUD" version="1.2.0" targetFramework="monoandropartyId60" />
  <package partyId="FreshMvvm" version="2.2.0" targetFramework="monoandropartyId70" />
  <package partyId="Microsoft.Azure.Mobile" version="0.4.1" targetFramework="monoandropartyId60" />
  <package partyId="Microsoft.Azure.Mobile.Analytics" version="0.4.1" targetFramework="monoandropartyId60" />
  <package partyId="Microsoft.Azure.Mobile.Crashes" version="0.4.1" targetFramework="monoandropartyId60" />
  <package partyId="PCLStorage" version="1.0.2" targetFramework="monoandropartyId70" />
  <package partyId="Plugin.CurrentActivity" version="1.0.1" targetFramework="monoandropartyId70" />
  <package partyId="Plugin.Permissions" version="1.1.7" targetFramework="monoandropartyId70" />
  <package partyId="Plugin.Share" version="4.0.3" targetFramework="monoandropartyId70" />
  <package partyId="Splat" version="1.6.2" targetFramework="monoandropartyId60" />
  <package partyId="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="monoandropartyId70" />
  <package partyId="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="monoandropartyId70" />
  <package partyId="SQLite.Net-PCL" version="3.1.1" targetFramework="monoandropartyId70" />
  <package partyId="Xam.Plugin.Connectivity" version="2.2.12" targetFramework="monoandropartyId70" />
  <package partyId="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="monoandropartyId70" />
  <package partyId="Xamarin.AndropartyId.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandropartyId60" />
  <package partyId="Xamarin.AndropartyId.Support.CustomTabs" version="23.3.0" targetFramework="monoandropartyId70" />
  <package partyId="Xamarin.AndropartyId.Support.Design" version="23.3.0" targetFramework="monoandropartyId60" />
  <package partyId="Xamarin.AndropartyId.Support.v4" version="23.3.0" targetFramework="monoandropartyId60" />
  <package partyId="Xamarin.AndropartyId.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandropartyId60" />
  <package partyId="Xamarin.AndropartyId.Support.v7.CardView" version="23.3.0" targetFramework="monoandropartyId60" />
  <package partyId="Xamarin.AndropartyId.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandropartyId60" />
  <package partyId="Xamarin.AndropartyId.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandropartyId60" />
  <package partyId="Xamarin.AndropartyId.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandropartyId60" />
  <package partyId="Xamarin.Forms" version="2.3.3.175" targetFramework="monoandropartyId70" />
  <package partyId="Xamarin.Forms.Maps" version="2.3.3.175" targetFramework="monoandropartyId70" />
  <package partyId="Xamarin.GooglePlayServices.Base" version="29.0.0.1" targetFramework="monoandropartyId60" />
  <package partyId="Xamarin.GooglePlayServices.Basement" version="29.0.0.1" targetFramework="monoandropartyId60" />
  <package partyId="Xamarin.GooglePlayServices.Maps" version="29.0.0.1" targetFramework="monoandropartyId60" />
</packages>