<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="6.3.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package partyId="FreshMvvm" version="2.2.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package partyId="Microsoft.Azure.Mobile" version="0.4.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package partyId="Microsoft.Azure.Mobile.Analytics" version="0.4.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package partyId="Microsoft.Azure.Mobile.Crashes" version="0.4.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package partyId="Microsoft.Bcl" version="1.1.9" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package partyId="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package partyId="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package partyId="PCLStorage" version="1.0.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package partyId="Splat" version="1.6.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package partyId="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package partyId="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package partyId="SQLite.Net-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package partyId="Xam.Plugin.Connectivity" version="2.2.12" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package partyId="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package partyId="Xamarin.Forms" version="2.3.3.175" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>